<!DOCTYPE html>
<html>
<head>
  <title>文書校正ツール</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
  /* https://jp.vuejs.org/v2/api/index.html#v-cloak */
  [v-cloak] {
    display: none;
  }
</style>
<body>
<div id="vue" @dragleave.prevent @dragover.prevent @drop.prevent="onDrop" style="width:100vw;height:100vh">
  <div class="text-center">
    <button class="btn btn-primary btn-block" @click="openTextlintConfig()">設定ファイルを開く</button>
  </div>
  <div class="text-center" style="font-size:x-large;margin-top:2rem" v-if="!isUploading">
    <span>ここにファイルをドラッグ＆ドロップしてください</span>
  </div>
  <!-- スピナー -->
  <div style="margin-top:2rem;" class="text-center">
    <div class="spinner-border" v-cloak v-if="isUploading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="alert alert-dark" role="alert" v-cloak v-if="hasFileName()"><b>{{fileName}}</b> を校正しました</div>
  <ul class="list-group" v-if="ok">
    <li class="list-group-item list-group-item-success" v-cloak>
      <h3>エラーはありません。</h3>
    </li>
  </ul>
  <ul class="list-group" v-else>
    <li class="list-group-item list-group-item-danger" v-for="result in proofreadResults" v-cloak>
      <h3>{{result.Description}}</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="violation in result.Violations" v-cloak>
          <p>{{violation.Message}}</p>
          <small class="text-muted">
            <p v-highlight-range:[violation]>{{violation.ViolatedSection}}</p>
          </small>
        </li>
      </ul>
    </li>
  </ul>

  <p v-cloak style="white-space: pre;">{{errorMsg}}</p>
</div>
<style>
mark {
  background: orange;
}

#dropzone {
  text-align: center;
}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous"></script>

<script src="assets/dist/index.js"></script>
</body>
</html>
